*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color:seashell;
   
}

nav{
    display:flex;
    width: 100%;
    height:69px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
    background-color: black;
    z-index: 6;
}
.logo img{
    height: 50px;
    opacity: 0.9;
}
.textstyle{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.8;
}
.title-padding{
    padding: 0 10px;
    margin-right: 12px;
}
.main-container{
    width: 100%;
    margin-top: 70px;
   
}

.banner{
    display: flex;
    width: 94%;
    height: 700px;
    background-image: url(./pictures/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}
.banner-title{
    width: 100%;
    background-color: black;
    margin:auto;
    text-align: center;
}
.banner-title-padding{
    padding: 6px 0;
}

.tea-details{
    width:1000px;
    margin: 0 auto;
   
    
}

.tea-headings{
    margin-top: 25px;
    text-align: center;
}
.tea-types{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.tea-pic{
    padding: 8px;
}
.tea-pic h3{
    margin-top: 5px;
    text-align: center;
}

.tea-types img{
    height: 200px;
    width: 300px;
}

.locations{
    height: 500px;
    width: 94%;
    background-image: url(./pictures/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    
    
    
}
.locations h1
{
    padding-top: 70px;
    text-align: center;
}

.box-container{
    width: 100%;
    margin-top: 15px;
    display: inline-flex;
    justify-content:center;
}
.box{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    width:300px;
    box-sizing: border-box;
    margin: 10px 30px;
    padding:30px 10px;
    
    
}